@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 12px;
  background: #515486;
  border-radius: 20px;
}

/* ::-webkit-scrollbar-track {
  background: tomato;
  border-left: 2px solid white;
  border-right: 2px solid white;
} */

::-webkit-scrollbar-thumb {
  background: #bfb5fa;
  border-left: 1px solid #bfb5fa;
  border-right: 1px solid #bfb5fa;
  border-radius: 20px;
}
.swapp {
  display: none;
}
@media (max-width: 640px) {
  :root {
    font-size: 16px;
  }
  .hid {
    display: none;
  }
  .hid2 {
    display: none;
  }
  .hid3 {
    display: none;
  }
  #hid3 {
    display: none;
  }
  .swap {
    display: none;
  }
  .swapp {
    display: flex;
  }
  .purp::after,
  .purp::before {
    display: none;
  }
  .purp1::after,
  .purp1::before {
    display: none;
  }
  .purp2::after,
  .purp2::before {
    display: none;
  }
  .purp3::after,
  .purp3::before {
    display: none;
  }
  .section1 {
    /* overflow-x: hidden; */
  }
  .section1::before {
    content: "";
    height: 12rem;
    width: 12rem;
    left: -4rem;
    top: 5rem;
    border-radius: 50%;
    position: absolute;
    background-color: #515486;
    filter: blur(150px);
  }
  .section1::after {
    content: "";
    height: 12rem;
    width: 12rem;
    left: 8rem;
    top: 8rem;
    border-radius: 50%;
    position: absolute;
    background-color: #515486;
    filter: blur(150px);
  }
  .first::after {
    content: "";
    height: 12rem;
    width: 12rem;
    left: 4rem;
    top: 55rem;
    border-radius: 50%;
    position: absolute;
    background-color: #515486;
    filter: blur(150px);
  }
  .section2::before {
    content: "";
    height: 12rem;
    width: 12rem;
    left: 4rem;
    top: 85rem;
    border-radius: 50%;
    position: absolute;
    background-color: #515486;
    filter: blur(150px);
  }
}
@tailwind utilities;
